<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search Sentiments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div><br><br><br><br></div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
            <h1>Sentalyze</h1>
        </ion-col>
        <ion-col size="2"></ion-col>
       </ion-row>
       <ion-row>
         <ion-col>
         </ion-col>
       </ion-row>
      <ion-row>
        <ion-col>
            <ion-searchbar animated [(ngModel)]="searchTerm" ></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="4"></ion-col>
        <ion-col size="4">
            <ion-button color="primary" style="margin-left: 20px" (click)="getSentiments()">Search</ion-button>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
      <ion-row *ngIf="chartdata">
       <ion-col size="12">
          <ion-card class="welcome-card">
              <ion-card-content>
                <canvas #pieChart></canvas>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-list>
 
          <ion-item *ngFor="let item of (values)" >
            <!-- <ion-avatar slot="start">
              <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
            </ion-avatar> -->
       
            <ion-label text-wrap>
              <h3>{{ item.text }}</h3>
              <ul>
                <li>Magnitude : {{item.magnitude}}</li>
                <li>Score : {{item.score}}</li>
              </ul>
            </ion-label>
       
            <!-- <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
            <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
            <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon> -->
       
          </ion-item>
       
        </ion-list>
      </ion-row>
    </ion-grid> 
</ion-content>
